.admindashboard {
    > div {
        display: flex;
        > div {
            background-color: #f0f0f0;
            width: 25%;
            color: black;
            min-height: 100vh;
            padding: 10px;
            /* position: fixed; */

            > section {
                > h3 {
                    margin-bottom: 20px;
                }
               a {
                padding: 10px;
                text-decoration: none;
                margin-bottom: 10px;
                color: black;
                display: block;
                &:hover {
                    color: #1F8CF9FF;
                }
               }
               > button {
                background-color: #1F8CF9FF;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                margin-top: 20px;
                padding: 8px;
               }
            }
        }
        

        > section {
            width: 75%;
            min-height: 100vh;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            padding: 20px;

            > header {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                > section {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    #hamburger {
                        display: none;
                    }
                    > div {
                        display: flex;
                        align-items: center;

                        > nav {
                            display: flex;
                            align-items: center;
                            gap: 30px;

                            a {
                                text-decoration: none;
                                color: black;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bold;

                            }
                        }
                    }
                    > summary {
                        display: none;
                    }
                    > section {
                        display: flex;
                        align-items: center;
                        > span {
                            margin-right: 10px;
                            font-weight: bold;
                        }
                    }
                }
            }
            > div {
                display: flex;
                gap: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                > p {
                    text-align: center;
                    margin-top: 50px;
                    color: #1F8CF9FF;
                }
                > div {
                    flex: 1;
                    background-color: #1F8CF9FF;
                    padding: 10px;
                    border-radius: 5px;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}


@media screen and (max-width: 750px) {
    .admindashboard {
        > div {
           > div {
            display: none;
           }
           > section {
            width: 100%;
            > header {
                > section {
                    #hamburger {
                        display: block;
                    }
                    > div {
                        > nav {
                            display: none;
                        }
                    }
                    > section {
                        > span {
                            display: none;
                        }
                    }
                }
            }
           }
        }
    }
}